body:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #f5f5f5;
}

[v-cloak] {
  display: none;
}

.panel .container-fluid {
  padding: 15px;
}

.ui-nowrap {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.ui-nowrap-multi {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.hover-layer:hover {
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, .1) inset;
}

.sub-page-wrap {
  padding: 0 15px;
}

.search-wrap {
  padding: 15px 0;
}

.option-btns-wrap {
  padding: 0 0 10px;
  font-size: 0;
}

.option-btns-wrap .btn:not(:first-child) {
  margin-left: 10px;
}

/* transition css */

.b-fade-in-linear-enter-active,
.b-fade-in-linear-leave-active {
  transition: opacity .2s linear
}

.b-fade-in-enter,
.b-fade-in-leave-active,
.b-fade-in-linear-enter,
.b-fade-in-linear-leave,
.b-fade-in-linear-leave-active,
.fade-in-linear-enter,
.fade-in-linear-leave,
.fade-in-linear-leave-active {
  opacity: 0
}

.b-fade-in-enter-active,
.b-fade-in-leave-active,
.b-zoom-in-center-enter-active,
.b-zoom-in-center-leave-active {
  transition: all .3s cubic-bezier(.55, 0, .1, 1)
}

.b-zoom-in-bottom-enter-active,
.b-zoom-in-bottom-leave-active,
.b-zoom-in-left-enter-active,
.b-zoom-in-left-leave-active,
.b-zoom-in-top-enter-active,
.b-zoom-in-top-leave-active {
  transition: transform .3s cubic-bezier(.23, 1, .32, 1) .1s, opacity .3s cubic-bezier(.23, 1, .32, 1) .1s
}

.b-zoom-in-center-enter,
.b-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0)
}

.b-zoom-in-top-enter-active,
.b-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: center top
}

.b-zoom-in-top-enter,
.b-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0)
}

.b-zoom-in-bottom-enter-active,
.b-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: center bottom
}

.b-zoom-in-bottom-enter,
.b-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0)
}

.b-zoom-in-left-enter-active,
.b-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transform-origin: top left
}

.b-zoom-in-left-enter,
.b-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(.45, .45)
}

.collapse-transition {
  transition: .3s height ease-in-out, .3s padding-top ease-in-out, .3s padding-bottom ease-in-out
}

.horizontal-collapse-transition {
  transition: .3s width ease-in-out, .3s padding-left ease-in-out, .3s padding-right ease-in-out
}

.b-list-enter-active,
.b-list-leave-active {
  transition: all 1s
}

.b-list-enter,
.b-list-leave-active {
  opacity: 0;
  transform: translateY(-30px)
}

.b-opacity-transition {
  transition: opacity .3s cubic-bezier(.55, 0, .1, 1)
}

/* scrollbar css */

.b-scrollbar {
  overflow: hidden;
  position: relative
}

.b-scrollbar:active .b-scrollbar__bar,
.b-scrollbar:focus .b-scrollbar__bar,
.b-scrollbar:hover .b-scrollbar__bar {
  opacity: 1;
  transition: opacity 340ms ease-out
}

.b-scrollbar__wrap {
  overflow: scroll
}

.b-scrollbar__wrap--hidden-default::-webkit-scrollbar {
  width: 0;
  height: 0
}

.b-scrollbar__thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(151, 168, 190, .3);
  transition: .3s background-color
}

.b-scrollbar__thumb:hover {
  background-color: rgba(151, 168, 190, .5)
}

.b-scrollbar__bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 120ms ease-out
}

.b-scrollbar__bar.is-horizontal {
  height: 6px;
  left: 2px
}

.b-scrollbar__bar.is-horizontal>div {
  height: 100%
}

.b-scrollbar__bar.is-vertical {
  width: 6px;
  top: 2px
}

.b-scrollbar__bar.is-vertical>div {
  width: 100%
}

/* iconfont css */

@font-face {
  font-family: 'iconfont';
  /* project id 421852 */
  src: url('//at.alicdn.com/t/font_421852_i8kj2zxkv9fqolxr.eot');
  src: url('//at.alicdn.com/t/font_421852_i8kj2zxkv9fqolxr.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_421852_i8kj2zxkv9fqolxr.woff') format('woff'), url('//at.alicdn.com/t/font_421852_i8kj2zxkv9fqolxr.ttf') format('truetype'), url('//at.alicdn.com/t/font_421852_i8kj2zxkv9fqolxr.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e72c";
}

.icon-time:before {
  content: "\e72d";
}

.icon-search:before {
  content: "\e6f1";
}

.icon-mima:before {
  content: "\e78c";
}

.icon-yonghumin:before {
  content: "\e78d";
}

.icon-jichuziliao:before {
  content: "\e78e";
}

.icon-tongjifenxi:before {
  content: "\e78f";
}

.icon-caigouguanli:before {
  content: "\e790";
}

.icon-cangchu:before {
  content: "\e791";
}

.icon-huiyuan:before {
  content: "\e792";
}

.icon-xiaoshou:before {
  content: "\e793";
}

.icon-bangzhu:before {
  content: "\e794";
}

.icon-xiaoxi:before {
  content: "\e795";
}

.icon-yujing:before {
  content: "\e796";
}

.icon-xinzeng:before {
  content: "\e797";
}

.icon-qiyong:before {
  content: "\e798";
}

.icon-daochu:before {
  content: "\e799";
}

.icon-jinyong:before {
  content: "\e79a";
}

.icon-daoru:before {
  content: "\e79b";
}

.icon-shangpinku:before {
  content: "\e79c";
}

.icon-close:before {
  content: "\e79d";
}

.icon-zhankai:before {
  content: "\e79e";
}

.icon-xiayiye:before {
  content: "\e79f";
}

.icon-shangyiye:before {
  content: "\e7a0";
}

.icon-gou:before {
  content: "\e7a1";
}

.icon-cuowu:before {
  content: "\e7a3";
}

.icon-zhengque:before {
  content: "\e7a5";
}

.icon-logo:before {
  content: "\e7af";
}

.icon-shouqi:before {
  content: "\e7b0";
}

.icon-zongzuzh:before {
  content: "\e7b4";
}

.icon-zuzhi:before {
  content: "\e7b5";
}

.icon-bumen:before {
  content: "\e7b6";
}
